.city-card {
  display: inline-block;
  margin: 30px;
  min-width: 280px;
  text-align: left;
  padding: 20px 20px;
  font-size: 18px;
  border:2px solid black;
  border-radius:6px;
  &:focus {
    outline: none;
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  &__title-cross {
    font-size: 40px;
    font-weight: light;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__temp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
  }
}
